@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  align-items: center;
  background: #21283a;
  overflow-x: hidden;
}
section::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  width: 500px;
  height: 500px;
  background: #1de5ff;
  border-radius: 50%;
  box-shadow: 0 0 20px #1de5ff, 0 0 50px #1de5ff, 0 0 150px #1de5ff;
  transition: 1s;
}
section.active::before {
  background: #21283a;
  box-shadow: 0 0 0 1200px #141821;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}
header .logo {
  font-size: 1.5em;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  transform-origin: left;
}
header .logo span {
  color: #1de5ff;
  border-bottom: 4px solid #1de5ff;
}
header .toggle {
  position: relative;
  width: 30px;
  height: 30px;
  background: url(menu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  cursor: pointer;
}
header .toggle.active {
  background: url(close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}
.me {
  position: absolute;
  bottom: 0;
  right: 80px;
  max-width: 550px;
}

section.active .logo,
section.active .content {
  transform: scale(0);
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  z-index: 2;
  padding-left: 100px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
section.active .menu {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}
.menu li {
  list-style: none;
}
.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  padding: 5px 10px;
  margin: 5px 0;
  display: inline-block;
  transition: 0.25s;
}
.menu li:hover a {
  letter-spacing: 6px;
  background: #fff;
  color: #161a23;
}
@media (max-width: 991px) {
  section {
    padding: 40px;
  }
  header {
    padding: 20px 40px;
  }
  section::before {
    opacity: 0;
  }
  .me {
    right: -100px;
    opacity: 0.3;
  }
  .content .contentBx a {
    margin-bottom: 10px;
  }
  .menu{
    padding-left: 0;
    align-items: center;
  }
  .content .contentBx h2{
    font-size: 2.2em;
  }
  .content .contentBx h3{
    font-size: 1.5em;
  }
}
